.bt-about {
  &__image-container {
    overflow: hidden;
    height: 100vh;
  }

  &__image {
    width: 120%;
    object-fit: fill;

    @media (max-width: 1200px) {
      margin-top: -45%;
      margin-left: -20%;
    }
  }
}

p, .aic-a-typography--body1 {
  @media (max-width: 720px) {
    margin-bottom: -16px;
  }
}