.bt-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 308px;

  &__social {
    display: table;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
    }
  }

  &__link {
    display: block;
  }

  &--light {
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
  }

  &--dark {
    text-shadow: 2px 1px 1px rgb(225,225,225);
  }
}