.bt-navigation {
  position: fixed;
  z-index: 100;
}

.bt-ribbon {
  background: map-get($colors, 'blue2');
  color: map-get($colors, 'white');
  position: fixed; 
  padding: 8px 32px;
  transform: rotate(-45deg);
  margin-left: -41px;
  margin-top: 11px;
}




// BUTTON

.btn {
  cursor: pointer;
  @include transition(.2s);

  &__border {
    &--top,
    &--middle,
    &--bottom {
      border-bottom: thin solid map-get($colors, brightBlue);
      transform-origin: left center;
      width: 100%;
      display: block;
      height: 1px;
      @include transform(0deg);
      @include transition(0.2s);
    } 
    
    &--middle,
    &--bottom {
      margin-top: 14px;
    }

    &--top {
      margin-top: 0;
    }
  }

  &__container {
    overflow: hidden;
  }

  &:active, 
  &:focus {
    top: 4px;
  }
}

.close {
  opacity: 1;

  .btn {
    &__border {
      &--top {
        @include transform(40deg);
        width: 132%;
      }
      
      &--middle {
        width: 0;
      }
      
      &--bottom {
        @include transform(-45deg);
        width: 138%;
      }
    }
  }

  &:hover {
    opacity: 1 !important;
  }
}


// Menu
.menu {
  z-index: 90;
  
  &.hide {
    display: none;
  }
  
  &.show {
    display: block;
  }

  &__container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: map-get($colors, brightBlue);
    z-index: 2;
    display: flex;
    justify-content: center;
  
    ul {
      margin: 0;
      padding-left: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      flex-direction: column;
      font-size: 24px;
      height: calc(100vh - 48px);
    }
    
    a:not(.menu__button) {
      color: map-get($colors, darkGrey);
      
      &:hover {
        color: map-get($colors, darkGrey);
        border-color: map-get($colors, darkGrey);
      }
    }
  }

  &__button {
    position: fixed;
    right: 0;
    top: 0;
    margin: auto;
    background: map-get($colors, darkGrey);
    width: 36px;
    height: 36px;
    padding: 8px;
    border-right: none;
    border-top: none;
    border-radius: 0;
    z-index: 9999;
  }
}

// general section styles

.portfolio {
  &__section {
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    position: relative;
  }

  &--blue {
    background: blue;
  }

  &--white {
    background: #fff;
  }
}
