.aiu-position--relative {
  position: relative;
}

.bt-projects {
  $s: &;
  // width: 300px;
  overflow: hidden;

  &__title {
    position: absolute;
    bottom: 0;

    @media (max-width: 1280px) {
      font-size: 32px;
      position: relative;
      margin-bottom: -24px;
    }
  }

  &__content {
    // position: absolute;
    // bottom: 0;
  }

  &__container {
    list-style: none;
    display: table;
    overflow-x: scroll;
    padding: 0;
    
    &:hover {
      #{$s}__link:not(:hover) {
        overflow: hidden;
        -webkit-filter: blur(5px) grayscale(100%); 
        -moz-filter: blur(5px) grayscale(100%);
        -o-filter: blur(5px) grayscale(100%);
        -ms-filter: blur(5px) grayscale(100%); 
        filter: url(#blur) grayscale(100%); 
        filter: blur(5px) grayscale(100%);   
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3') grayscale(100%);
      }
    }
  }

  &--modal-visible {
    -webkit-filter: blur(5px) grayscale(100%); 
    -moz-filter: blur(5px) grayscale(100%);
    -o-filter: blur(5px) grayscale(100%);
    -ms-filter: blur(5px) grayscale(100%); 
    filter: url(#blur) grayscale(100%); 
    filter: blur(5px) grayscale(100%);   
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3') grayscale(100%);
  }

  &__item {
    display: table-cell;
  }

  &__link {
    border-radius: 5px;
    display: block;
    margin: 8px;
    height: 532px;
    width: 375px;
    transition: 0.25s ease all;
    position: relative;

    span {
      opacity: 0;
      transition: 0.25s linear opacity;
    }

    @media (max-width: 1280px) {
      height: 266px;
      width: 150px;
    }

    &:hover {
      top: -32px;

      span {
        opacity: 1;
      }
    }
  }
}



.aic-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  align-items: center;
  
  &__bg {
    background: rgba(0,0,0,0.7);
    cursor: pointer;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
  }

  &__card {
    background: map-get($colors, 'white' );
    height: 500px;
    margin: auto;
    width: 300px;
    padding: 16px;
    position: relative;
  }

  &__close {
    text-align: right;
    
    a {
      background: map-get($colors, 'flatblack' );
      border-radius: 50%;
      padding: 16px 24px;
      cursor: pointer;
      margin-right: -8px;
      margin-top: -10px;
    }
  }

  &__container {
    align-items: center;
    display: grid;
    margin: auto;
    width: auto;
    z-index: 9;
  }

  &__footer {
    position: absolute;
    bottom: 16px;
  }

  &__header {
    background-position: center;
    height: 200px;
    margin: -16px -16px 0 -16px;
    overflow: hidden;
  }

  &__tag {
    background: map-get($colors, 'flatblack' );
    color: map-get($colors, 'white' );
    font-size: 12px;
    line-height: 12px;
    margin: -4px;
    padding: 4px;
    text-transform: capitalize;
    vertical-align: bottom;
  }

  &__title {
    // color: map-get($colors, 'white' );
    font-size: 32px;
    margin-top: -44px;
    text-shadow: 0px 0px 6px map-get($colors, 'white' );
    text-align: right;
  }

}
