<section class="modal">
  <div class="modal__backdrop">
  </div>
  <article class="modal__container">
    <div class="modal__header">
      <div class="modal__close">
        <a class="modal__close-button" id="close">
          &times;
        </a>
      </div>
    </div>
    <section class="modal__content">
      <h1></h1>
      <div></div>
    </section>
    <footer class="modal__footer">
      <a class="modal__btn" href="#" target="_blank">See The example</a>
    </footer>
  </article>
</section>