@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:300,400&display=swap');

body {
  color: rgba($color: #fff, $alpha: 0.9);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.temp {
  align-items: center;
  background: url('https://media3.giphy.com/media/watL8bcdCVpcY/source.gif');
  display: grid;
  height: 100vh;
  

  &__container {
    width: 425px;
    margin: auto;
  }

  &__sub {
    text-align: center;
    line-height: 24px;
  }
  
  &__title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    text-align: center;
  }
}