<a class="menu__button btn open">
  <div class="btn__container">
    <div class="btn__border--top">&nbsp;</div>
    <div class="btn__border--middle">&nbsp;</div>
    <div class="btn__border--bottom">&nbsp;</div>
  </div>
</a>

<nav class="menu hide">
  <div class="menu__container"> 
    <ul class="menu__list">
      <li><a href="#" class="menu__link">About</a></li>
      <li><a href="#" class="menu__link">Projects</a></li>
      <li><a href="#" class="menu__link">Contact</a></li>
      <li><a href="#" class="menu__link">Social</a></li>
    </ul>
  </div>
</nav>